<ons-page>
  <ons-navigator swipeable id="myNavigator" page="home.html"></ons-navigator>
  <template id="home.html">
    <ons-page id="home">
      <ons-toolbar>
        <div class="center">
          MangaApp
        </div>
        <a name="" id="signout" class="btn btn-primary" href="#" role="button">signout</a>
      </ons-toolbar>
      <div class="container">
        <b>Recomment</b>
        <ons-carousel swipeable overscrollable animation=“fade”
          animation-options="{duration: 1.0, delay: 0, timing: ‘ease-in’}">
          <ons-carousel-item>
            <div id="a1"></div>
          </ons-carousel-item>
          <ons-carousel-item>
            <div id="a2"></div>
          </ons-carousel-item>
        </ons-carousel>
      </div>
    </ons-page>
  </template>
</ons-page>