<ons-page>
    <ons-toolbar>
        <div class="center">
          MangaApp
        </div>
        <a name="" id="signout" class="btn btn-primary" href="#" role="button">signout</a>
    </ons-toolbar>
    <ons-navigator swipeable id="Nvise" page="search.html"></ons-navigator>
    <template id="search.html">
        <ons-page id="search">
            <p style="text-align: center;">
                <input style="border-radius: 20px;" type="text" class="form-control" placeholder="Search"
                    id="searchText" onchange="Searchmanga()">
            <br>
            <ons-carousel swipeable overscrollable animation=“fade”
                animation-options="{duration: 1.0, delay: 0, timing: ‘ease-in’}" item-width="34%">
                <ons-carousel-item>
                    <button type="button" class="btn btn-outline-dark" id="b1" style="width: 100px;" onclick="buttonsearch(1)">Romantic</button>
                </ons-carousel-item>
                <ons-carousel-item>
                    <button type="button" class="btn btn-outline-dark" id="b2" style="width: 100px;" onclick="buttonsearch(2)">Comedy</button>
                </ons-carousel-item>
                <ons-carousel-item>
                    <button type="button" class="btn btn-outline-dark" id="b3" style="width: 100px;" onclick="buttonsearch(3)">Fantasy</button>
                </ons-carousel-item>
                <ons-carousel-item>
                    <button type="button" class="btn btn-outline-dark" id="b4" style="width: 100px;" onclick="buttonsearch(4)">Horror</button>
                </ons-carousel-item>
                <ons-carousel-item>
                    <button type="button" class="btn btn-outline-dark" id="b5" style="width: 100px;" onclick="buttonsearch2(10)">manga</button>
                </ons-carousel-item>
                <ons-carousel-item>
                    <button type="button" class="btn btn-outline-dark" id="b5" style="width: 100px;" onclick="buttonsearch2(20)">comic</button>
                </ons-carousel-item>
                <ons-carousel-item>
                    <button type="button" class="btn btn-outline-dark" id="b4" style="width: 100px;" onclick="buttonsearch(0)">all</button>
                </ons-carousel-item>
                <ons-row>
                </p>
                    <div id="Research"></div>
        </ons-page>
    </template>
</ons-page>